<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wh_vfx_02_add_3x_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,835},{3,3}}</string>
				<key>offset</key>
				<string>{-43,108}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,835},{3,3}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,781},{46,196}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{733,781},{46,196}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,697},{80,206}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{355,697},{80,206}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,261},{84,212}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{569,261},{84,212}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,437},{88,214}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{91,437},{88,214}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,519},{88,208}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{567,519},{88,208}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,347},{84,210}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{567,347},{84,210}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,85},{86,212}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{569,85},{86,212}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,173},{86,212}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{569,173},{86,212}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,1},{88,214}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{179,1},{88,214}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,217},{88,214}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{179,217},{88,214}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,433},{88,214}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,433},{88,214}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,441},{88,216}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,441},{88,216}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,1},{88,216}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{89,1},{88,216}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,219},{88,216}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{89,219},{88,216}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{86,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{86,218}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,221},{86,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,221},{86,218}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,695},{84,206}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{565,695},{84,206}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,525},{84,208}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{355,525},{84,208}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,609},{84,208}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{565,609},{84,208}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,353},{84,210}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{355,353},{84,210}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,433},{84,210}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{567,433},{84,210}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,175},{86,212}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{355,175},{86,212}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,611},{84,208}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{355,611},{84,208}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,439},{84,210}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{355,439},{84,210}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,1},{84,214}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,1},{84,214}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,217},{84,214}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,217},{84,214}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,433},{82,214}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{271,433},{82,214}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,1},{82,214}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{355,1},{82,214}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,1},{82,214}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{571,1},{82,214}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,85},{88,212}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{355,85},{88,212}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,263},{88,210}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{355,263},{88,210}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,659},{88,174}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,659},{88,174}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,653},{88,164}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{91,653},{88,164}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,353},{88,156}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{779,353},{88,156}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,649},{88,158}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,649},{88,158}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,649},{82,158}}</string>
				<key>offset</key>
				<string>{3,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{271,649},{82,158}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,443},{82,156}}</string>
				<key>offset</key>
				<string>{3,-20}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{779,443},{82,156}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,527},{74,156}}</string>
				<key>offset</key>
				<string>{-1,-20}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{777,527},{74,156}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,603},{72,156}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{777,603},{72,156}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,137},{72,154}}</string>
				<key>offset</key>
				<string>{-1,-20}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{783,137},{72,154}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,211},{70,154}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{783,211},{70,154}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,283},{68,152}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{783,283},{68,152}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,677},{68,152}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{775,677},{68,152}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1},{66,124}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{787,1},{66,124}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,69},{66,124}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{787,69},{66,124}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,781},{52,124}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{355,781},{52,124}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,781},{52,124}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{481,781},{52,124}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,781},{52,124}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{607,781},{52,124}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,819},{20,108}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{91,819},{20,108}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
			<key>wh_vfx_02_add_3x_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,835},{3,3}}</string>
				<key>offset</key>
				<string>{-43,108}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,835},{3,3}}</string>
				<key>sourceSize</key>
				<string>{88,218}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>3cc1d761-5da8-4718-970d-7e742f5840a2.ade2a.jpg</string>
			<key>size</key>
			<string>{938,840}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>3cc1d761-5da8-4718-970d-7e742f5840a2.ade2a.jpg</string>
		</dict>
	</dict>
</plist>
