<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>smoke_screen_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,215},{31,12}}</string>
				<key>offset</key>
				<string>{-2,-36}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,215},{31,12}}</string>
				<key>sourceSize</key>
				<string>{117,88}</string>
			</dict>
			<key>smoke_screen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,195},{75,36}}</string>
				<key>offset</key>
				<string>{1,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{104,195},{75,36}}</string>
				<key>sourceSize</key>
				<string>{117,88}</string>
			</dict>
			<key>smoke_screen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,145},{91,42}}</string>
				<key>offset</key>
				<string>{0,-23}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{207,145},{91,42}}</string>
				<key>sourceSize</key>
				<string>{117,88}</string>
			</dict>
			<key>smoke_screen_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,145},{99,48}}</string>
				<key>offset</key>
				<string>{-2,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,145},{99,48}}</string>
				<key>sourceSize</key>
				<string>{117,88}</string>
			</dict>
			<key>smoke_screen_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,93},{101,50}}</string>
				<key>offset</key>
				<string>{-2,-18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,93},{101,50}}</string>
				<key>sourceSize</key>
				<string>{117,88}</string>
			</dict>
			<key>smoke_screen_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,163},{101,50}}</string>
				<key>offset</key>
				<string>{-2,-18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,163},{101,50}}</string>
				<key>sourceSize</key>
				<string>{117,88}</string>
			</dict>
			<key>smoke_screen_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,55},{103,52}}</string>
				<key>offset</key>
				<string>{-2,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,55},{103,52}}</string>
				<key>sourceSize</key>
				<string>{117,88}</string>
			</dict>
			<key>smoke_screen_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,1},{103,52}}</string>
				<key>offset</key>
				<string>{-2,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{108,1},{103,52}}</string>
				<key>sourceSize</key>
				<string>{117,88}</string>
			</dict>
			<key>smoke_screen_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,109},{103,52}}</string>
				<key>offset</key>
				<string>{-2,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,109},{103,52}}</string>
				<key>sourceSize</key>
				<string>{117,88}</string>
			</dict>
			<key>smoke_screen_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{105,52}}</string>
				<key>offset</key>
				<string>{-3,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{105,52}}</string>
				<key>sourceSize</key>
				<string>{117,88}</string>
			</dict>
			<key>smoke_screen_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,1},{105,36}}</string>
				<key>offset</key>
				<string>{-3,-25}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{213,1},{105,36}}</string>
				<key>sourceSize</key>
				<string>{117,88}</string>
			</dict>
			<key>smoke_screen_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,55},{105,36}}</string>
				<key>offset</key>
				<string>{-3,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,55},{105,36}}</string>
				<key>sourceSize</key>
				<string>{117,88}</string>
			</dict>
			<key>smoke_screen_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,195},{19,20}}</string>
				<key>offset</key>
				<string>{-47,-32}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,195},{19,20}}</string>
				<key>sourceSize</key>
				<string>{117,88}</string>
			</dict>
			<key>smoke_screen_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,229},{7,6}}</string>
				<key>offset</key>
				<string>{-53,-35}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,229},{7,6}}</string>
				<key>sourceSize</key>
				<string>{117,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>b782053a-5426-4692-82ac-607472211035.117cc.jpg</string>
			<key>size</key>
			<string>{250,237}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>b782053a-5426-4692-82ac-607472211035.117cc.jpg</string>
		</dict>
	</dict>
</plist>
