<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wh_vfx_03_add_3x_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,345},{116,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{609,345},{116,152}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,253},{118,250}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{489,253},{118,250}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,1},{120,250}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,1},{120,250}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,253},{120,250}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,253},{120,250}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,1},{120,250}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,1},{120,250}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,253},{120,250}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,253},{120,250}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,1},{120,250}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{367,1},{120,250}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,253},{120,250}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{367,253},{120,250}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{120,252}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{120,252}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,255},{120,252}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,255},{120,252}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,505},{120,250}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{123,505},{120,250}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,627},{120,250}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{123,627},{120,250}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,1},{120,250}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{489,1},{120,250}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,505},{120,248}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{375,505},{120,248}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,627},{120,246}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{375,627},{120,246}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,509},{120,238}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,509},{120,238}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,123},{120,220}}</string>
				<key>offset</key>
				<string>{0,-18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{611,123},{120,220}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,499},{120,216}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{625,499},{120,216}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1},{120,136}}</string>
				<key>offset</key>
				<string>{0,16}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{611,1},{120,136}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,123},{8,10}}</string>
				<key>offset</key>
				<string>{55,-44}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{733,123},{8,10}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
			<key>wh_vfx_03_add_3x_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,345},{3,3}}</string>
				<key>offset</key>
				<string>{-59,128}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{727,345},{3,3}}</string>
				<key>sourceSize</key>
				<string>{120,258}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>6a5ef409-8c31-4e9f-a1b0-86b818fd1199.89954.jpg</string>
			<key>size</key>
			<string>{748,748}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>6a5ef409-8c31-4e9f-a1b0-86b818fd1199.89954.jpg</string>
		</dict>
	</dict>
</plist>
