<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wh_vfx_03_add_2x_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,565},{116,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,565},{116,152}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,245},{118,186}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{367,245},{118,186}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{120,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{120,186}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,189},{120,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,189},{120,186}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,377},{120,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,377},{120,186}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,1},{120,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{155,1},{120,186}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,1},{120,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{343,1},{120,186}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,123},{120,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,123},{120,186}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,311},{120,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,311},{120,186}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,123},{120,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,123},{120,186}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,311},{120,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,311},{120,186}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,123},{120,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{399,123},{120,186}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,245},{120,184}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{487,245},{120,184}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,499},{120,182}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,499},{120,182}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,499},{120,180}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{277,499},{120,180}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,367},{120,178}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{487,367},{120,178}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,489},{120,174}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{399,489},{120,174}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,489},{120,158}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{521,489},{120,158}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,1},{120,136}}</string>
				<key>offset</key>
				<string>{0,16}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{531,1},{120,136}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>wh_vfx_03_add_2x_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,1},{8,10}}</string>
				<key>offset</key>
				<string>{55,-44}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{123,1},{8,10}}</string>
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>3526ed62-6380-41f9-afe5-6863b707bfbe.c6fc7.jpg</string>
			<key>size</key>
			<string>{682,682}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>3526ed62-6380-41f9-afe5-6863b707bfbe.c6fc7.jpg</string>
		</dict>
	</dict>
</plist>
