<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wh_vfx_02_add_4x_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,173},{3,3}}</string>
				<key>offset</key>
				<string>{-43,144}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{541,173},{3,3}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,663},{62,197}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{624,663},{62,197}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,753},{80,209}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{335,753},{80,209}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,422},{84,219}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{631,422},{84,219}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,1},{88,223}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{857,1},{88,223}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,428},{88,229}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{717,428},{88,229}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,411},{88,231}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{807,411},{88,231}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,663},{88,233}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{361,663},{88,233}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,426},{88,235}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{541,426},{88,235}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,179},{88,241}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,179},{88,241}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,495},{88,243}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,495},{88,243}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,507},{88,245}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,507},{88,245}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,250},{88,245}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{91,250},{88,245}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1},{88,245}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,1},{88,245}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,248},{88,243}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{271,248},{88,243}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,1},{88,243}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,1},{88,243}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,173},{88,243}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{361,173},{88,243}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,493},{88,243}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{271,493},{88,243}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,418},{88,243}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{361,418},{88,243}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,173},{88,243}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{451,173},{88,243}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,418},{88,243}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{451,418},{88,243}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,497},{88,245}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{91,497},{88,245}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,248},{88,245}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,248},{88,245}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1},{88,245}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{271,1},{88,245}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,1},{88,247}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{91,1},{88,247}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,91},{86,243}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,91},{86,243}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,179},{86,245}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{541,179},{86,245}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,179},{84,247}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{719,179},{84,247}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,1},{84,249}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{361,1},{84,249}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,87},{84,249}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{361,87},{84,249}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{88,251}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{88,251}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,254},{88,251}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,254},{88,251}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,411},{88,229}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{897,411},{88,229}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,226},{88,183}}</string>
				<key>offset</key>
				<string>{0,-32}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{805,226},{88,183}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,226},{88,183}}</string>
				<key>offset</key>
				<string>{0,-32}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{895,226},{88,183}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,744},{88,183}}</string>
				<key>offset</key>
				<string>{0,-32}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{161,744},{88,183}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,740},{82,181}}</string>
				<key>offset</key>
				<string>{3,-32}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{251,740},{82,181}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,835},{84,181}}</string>
				<key>offset</key>
				<string>{2,-32}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{335,835},{84,181}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,659},{78,181}}</string>
				<key>offset</key>
				<string>{-1,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{688,659},{78,181}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,754},{78,179}}</string>
				<key>offset</key>
				<string>{-2,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,754},{78,179}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,754},{78,179}}</string>
				<key>offset</key>
				<string>{-2,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{81,754},{78,179}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,753},{76,177}}</string>
				<key>offset</key>
				<string>{-2,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{546,753},{76,177}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,659},{76,175}}</string>
				<key>offset</key>
				<string>{-2,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{768,659},{76,175}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,644},{76,175}}</string>
				<key>offset</key>
				<string>{-3,-30}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{846,644},{76,175}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,642},{68,173}}</string>
				<key>offset</key>
				<string>{1,-30}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{924,642},{68,173}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,862},{68,171}}</string>
				<key>offset</key>
				<string>{0,-30}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{624,862},{68,171}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,877},{56,171}}</string>
				<key>offset</key>
				<string>{6,-29}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{797,877},{56,171}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,1},{54,167}}</string>
				<key>offset</key>
				<string>{6,-29}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{947,1},{54,167}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,821},{54,125}}</string>
				<key>offset</key>
				<string>{6,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{846,821},{54,125}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,929},{4,107}}</string>
				<key>offset</key>
				<string>{-14,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{161,929},{4,107}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
			<key>wh_vfx_02_add_4x_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,173},{3,3}}</string>
				<key>offset</key>
				<string>{-43,144}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{541,173},{3,3}}</string>
				<key>sourceSize</key>
				<string>{88,291}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>721ad1f8-de56-40ff-a877-46b5332352db.f036a.jpg</string>
			<key>size</key>
			<string>{1002,934}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>721ad1f8-de56-40ff-a877-46b5332352db.f036a.jpg</string>
		</dict>
	</dict>
</plist>
