<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wh_vfx_03_add_4x_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,473},{116,153}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{611,473},{116,153}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,254},{118,251}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{489,254},{118,251}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,507},{120,249}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,507},{120,249}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,507},{120,249}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,507},{120,249}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{120,251}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{120,251}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,254},{120,251}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,254},{120,251}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,1},{120,251}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,1},{120,251}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,254},{120,251}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,254},{120,251}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,1},{120,251}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,1},{120,251}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,254},{120,251}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,254},{120,251}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,1},{120,251}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{367,1},{120,251}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,254},{120,251}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{367,254},{120,251}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,1},{120,251}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{489,1},{120,251}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,507},{120,249}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,507},{120,249}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,507},{120,249}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{367,507},{120,249}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,507},{120,249}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{489,507},{120,249}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1},{120,221}}</string>
				<key>offset</key>
				<string>{0,-18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{611,1},{120,221}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,254},{120,217}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{609,254},{120,217}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,628},{120,135}}</string>
				<key>offset</key>
				<string>{0,16}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{611,628},{120,135}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,224},{8,11}}</string>
				<key>offset</key>
				<string>{55,-43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{611,224},{8,11}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
			<key>wh_vfx_03_add_4x_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,1},{3,3}}</string>
				<key>offset</key>
				<string>{-59,164}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{733,1},{3,3}}</string>
				<key>sourceSize</key>
				<string>{120,331}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>6df7206c-f21a-4f74-822d-b00714e2a5bb.d4e9f.jpg</string>
			<key>size</key>
			<string>{757,757}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>6df7206c-f21a-4f74-822d-b00714e2a5bb.d4e9f.jpg</string>
		</dict>
	</dict>
</plist>
