<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mb_vfx_a_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,1},{261,162}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{535,1},{261,162}}</string>
				<key>sourceSize</key>
				<string>{439,176}</string>
			</dict>
			<key>mb_vfx_a_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,329},{257,162}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{535,329},{257,162}}</string>
				<key>sourceSize</key>
				<string>{439,176}</string>
			</dict>
			<key>mb_vfx_a_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,165},{257,162}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{796,165},{257,162}}</string>
				<key>sourceSize</key>
				<string>{439,176}</string>
			</dict>
			<key>mb_vfx_a_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,165},{259,162}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{535,165},{259,162}}</string>
				<key>sourceSize</key>
				<string>{439,176}</string>
			</dict>
			<key>mb_vfx_a_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1},{263,162}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{270,1},{263,162}}</string>
				<key>sourceSize</key>
				<string>{439,176}</string>
			</dict>
			<key>mb_vfx_a_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{267,162}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{267,162}}</string>
				<key>sourceSize</key>
				<string>{439,176}</string>
			</dict>
			<key>mb_vfx_a_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,165},{267,162}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,165},{267,162}}</string>
				<key>sourceSize</key>
				<string>{439,176}</string>
			</dict>
			<key>mb_vfx_a_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,329},{265,162}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,329},{265,162}}</string>
				<key>sourceSize</key>
				<string>{439,176}</string>
			</dict>
			<key>mb_vfx_a_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,329},{265,162}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{268,329},{265,162}}</string>
				<key>sourceSize</key>
				<string>{439,176}</string>
			</dict>
			<key>mb_vfx_a_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,165},{263,162}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{270,165},{263,162}}</string>
				<key>sourceSize</key>
				<string>{439,176}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>76ff8af6-6501-4c06-9b20-96602d508a77.7a339.jpg</string>
			<key>size</key>
			<string>{959,492}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>76ff8af6-6501-4c06-9b20-96602d508a77.7a339.jpg</string>
		</dict>
	</dict>
</plist>
