<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mb_vfx_b_screen_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,909},{38,82}}</string>
				<key>offset</key>
				<string>{-114,-33}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{337,909},{38,82}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,765},{66,88}}</string>
				<key>offset</key>
				<string>{-107,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{945,765},{66,88}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,417},{124,92}}</string>
				<key>offset</key>
				<string>{-88,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{883,417},{124,92}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,647},{168,96}}</string>
				<key>offset</key>
				<string>{-66,-26}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{761,647},{168,96}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,1},{202,110}}</string>
				<key>offset</key>
				<string>{-47,-26}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{899,1},{202,110}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,205},{210,128}}</string>
				<key>offset</key>
				<string>{-46,-13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{891,205},{210,128}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,801},{236,142}}</string>
				<key>offset</key>
				<string>{-32,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{495,801},{236,142}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,511},{252,152}}</string>
				<key>offset</key>
				<string>{-23,-10}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{859,511},{252,152}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,647},{264,152}}</string>
				<key>offset</key>
				<string>{-18,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{495,647},{264,152}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,639},{268,156}}</string>
				<key>offset</key>
				<string>{-16,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{337,639},{268,156}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,485},{278,152}}</string>
				<key>offset</key>
				<string>{-10,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{297,485},{278,152}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,167},{296,166}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,167},{296,166}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{300,164}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{300,164}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{298,162}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,1},{298,162}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,165},{292,158}}</string>
				<key>offset</key>
				<string>{7,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,165},{292,158}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,165},{292,158}}</string>
				<key>offset</key>
				<string>{8,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{597,165},{292,158}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,325},{290,158}}</string>
				<key>offset</key>
				<string>{8,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{299,325},{290,158}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,325},{290,160}}</string>
				<key>offset</key>
				<string>{9,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{591,325},{290,160}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1},{294,162}}</string>
				<key>offset</key>
				<string>{8,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{603,1},{294,162}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,335},{294,164}}</string>
				<key>offset</key>
				<string>{7,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,335},{294,164}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,501},{290,164}}</string>
				<key>offset</key>
				<string>{7,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,501},{290,164}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,667},{282,166}}</string>
				<key>offset</key>
				<string>{10,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,667},{282,166}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,667},{280,166}}</string>
				<key>offset</key>
				<string>{10,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{169,667},{280,166}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,487},{278,158}}</string>
				<key>offset</key>
				<string>{8,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{577,487},{278,158}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,817},{140,104}}</string>
				<key>offset</key>
				<string>{-59,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{733,817},{140,104}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,765},{68,92}}</string>
				<key>offset</key>
				<string>{-86,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{875,765},{68,92}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,859},{60,86}}</string>
				<key>offset</key>
				<string>{-90,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{875,859},{60,86}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,923},{16,36}}</string>
				<key>offset</key>
				<string>{-113,-30}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{733,923},{16,36}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,941},{8,8}}</string>
				<key>offset</key>
				<string>{-115,-45}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{733,941},{8,8}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
			<key>mb_vfx_b_screen_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,639},{3,3}}</string>
				<key>offset</key>
				<string>{-161,119}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{495,639},{3,3}}</string>
				<key>sourceSize</key>
				<string>{324,240}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>22664233-7d4b-4648-ad77-453716b4ce63.a4c19.jpg</string>
			<key>size</key>
			<string>{1020,950}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>22664233-7d4b-4648-ad77-453716b4ce63.a4c19.jpg</string>
		</dict>
	</dict>
</plist>
