<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_vfx_d_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{386,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{386,46}}</string>
				<key>sourceSize</key>
				<string>{432,46}</string>
			</dict>
			<key>ib_vfx_d_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1},{386,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{389,1},{386,46}}</string>
				<key>sourceSize</key>
				<string>{432,46}</string>
			</dict>
			<key>ib_vfx_d_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,49},{386,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,49},{386,46}}</string>
				<key>sourceSize</key>
				<string>{432,46}</string>
			</dict>
			<key>ib_vfx_d_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,49},{386,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{389,49},{386,46}}</string>
				<key>sourceSize</key>
				<string>{432,46}</string>
			</dict>
			<key>ib_vfx_d_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,97},{386,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,97},{386,46}}</string>
				<key>sourceSize</key>
				<string>{432,46}</string>
			</dict>
			<key>ib_vfx_d_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,97},{386,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{389,97},{386,46}}</string>
				<key>sourceSize</key>
				<string>{432,46}</string>
			</dict>
			<key>ib_vfx_d_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,145},{386,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,145},{386,46}}</string>
				<key>sourceSize</key>
				<string>{432,46}</string>
			</dict>
			<key>ib_vfx_d_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,145},{386,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{389,145},{386,46}}</string>
				<key>sourceSize</key>
				<string>{432,46}</string>
			</dict>
			<key>ib_vfx_d_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,193},{386,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,193},{386,46}}</string>
				<key>sourceSize</key>
				<string>{432,46}</string>
			</dict>
			<key>ib_vfx_d_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,193},{386,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{389,193},{386,46}}</string>
				<key>sourceSize</key>
				<string>{432,46}</string>
			</dict>
			<key>ib_vfx_d_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,241},{386,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,241},{386,46}}</string>
				<key>sourceSize</key>
				<string>{432,46}</string>
			</dict>
			<key>ib_vfx_d_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,241},{386,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{389,241},{386,46}}</string>
				<key>sourceSize</key>
				<string>{432,46}</string>
			</dict>
			<key>ib_vfx_d_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,289},{386,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,289},{386,46}}</string>
				<key>sourceSize</key>
				<string>{432,46}</string>
			</dict>
			<key>ib_vfx_d_add_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,289},{386,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{389,289},{386,46}}</string>
				<key>sourceSize</key>
				<string>{432,46}</string>
			</dict>
			<key>ib_vfx_d_add_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,337},{386,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,337},{386,46}}</string>
				<key>sourceSize</key>
				<string>{432,46}</string>
			</dict>
			<key>ib_vfx_d_add_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,337},{386,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{389,337},{386,46}}</string>
				<key>sourceSize</key>
				<string>{432,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>506c5b3d-ff8e-4239-81c4-86b987e822a1.6cd5b.jpg</string>
			<key>size</key>
			<string>{776,384}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>506c5b3d-ff8e-4239-81c4-86b987e822a1.6cd5b.jpg</string>
		</dict>
	</dict>
</plist>
