<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_vfx_b_normal_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,825},{66,127}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{617,825},{66,127}}</string>
				<key>sourceSize</key>
				<string>{756,175}</string>
			</dict>
			<key>ib_vfx_b_normal_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,825},{130,135}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{485,825},{130,135}}</string>
				<key>sourceSize</key>
				<string>{756,175}</string>
			</dict>
			<key>ib_vfx_b_normal_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,677},{284,135}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{759,677},{284,135}}</string>
				<key>sourceSize</key>
				<string>{756,175}</string>
			</dict>
			<key>ib_vfx_b_normal_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,825},{482,145}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,825},{482,145}}</string>
				<key>sourceSize</key>
				<string>{756,175}</string>
			</dict>
			<key>ib_vfx_b_normal_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1},{674,145}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{759,1},{674,145}}</string>
				<key>sourceSize</key>
				<string>{756,175}</string>
			</dict>
			<key>ib_vfx_b_normal_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,137}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,137}}</string>
				<key>sourceSize</key>
				<string>{756,175}</string>
			</dict>
			<key>ib_vfx_b_normal_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,140},{756,135}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,140},{756,135}}</string>
				<key>sourceSize</key>
				<string>{756,175}</string>
			</dict>
			<key>ib_vfx_b_normal_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,277},{756,135}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,277},{756,135}}</string>
				<key>sourceSize</key>
				<string>{756,175}</string>
			</dict>
			<key>ib_vfx_b_normal_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,414},{756,135}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,414},{756,135}}</string>
				<key>sourceSize</key>
				<string>{756,175}</string>
			</dict>
			<key>ib_vfx_b_normal_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,551},{756,135}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,551},{756,135}}</string>
				<key>sourceSize</key>
				<string>{756,175}</string>
			</dict>
			<key>ib_vfx_b_normal_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,688},{756,135}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,688},{756,135}}</string>
				<key>sourceSize</key>
				<string>{756,175}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>d166b590-287c-4451-ae9f-4051d3b49572.e4ce7.png</string>
			<key>size</key>
			<string>{905,971}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>d166b590-287c-4451-ae9f-4051d3b49572.e4ce7.png</string>
		</dict>
	</dict>
</plist>
