<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wh_vfx_03_add_1x_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,441},{96,97}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{438,441},{96,97}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,116},{110,105}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{336,116},{110,105}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,228},{112,105}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{227,228},{112,105}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,358},{116,109}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{114,358},{116,109}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,238},{118,111}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{114,238},{118,111}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,116},{120,111}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,116},{120,111}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,238},{120,111}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,238},{120,111}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,360},{120,111}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,360},{120,111}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,116},{120,111}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{114,116},{120,111}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{120,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{120,113}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,1},{118,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,1},{118,113}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,1},{120,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,1},{120,113}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,1},{118,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{365,1},{118,113}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,228},{108,107}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{334,228},{108,107}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,116},{110,107}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{227,116},{110,107}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,358},{112,107}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{225,358},{112,107}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,337},{102,105}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{334,337},{102,105}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,337},{102,97}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{438,337},{102,97}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,116},{100,89}}</string>
				<key>offset</key>
				<string>{-2,10}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{443,116},{100,89}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
			<key>wh_vfx_03_add_1x_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,1},{8,7}}</string>
				<key>offset</key>
				<string>{44,-27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{485,1},{8,7}}</string>
				<key>sourceSize</key>
				<string>{120,113}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>4358ac71-0b60-4e6b-8db4-44f843b1e299.b3d78.jpg</string>
			<key>size</key>
			<string>{538,538}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>4358ac71-0b60-4e6b-8db4-44f843b1e299.b3d78.jpg</string>
		</dict>
	</dict>
</plist>
