<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wh_vfx_02_add_1x_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,148},{3,3}}</string>
				<key>offset</key>
				<string>{-43,35}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{326,148},{3,3}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,450},{46,41}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{198,450},{46,41}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,275},{82,65}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,275},{82,65}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1},{82,67}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{259,1},{82,67}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{84,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{84,67}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,70},{84,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,70},{84,67}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,156},{78,67}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{259,156},{78,67}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,292},{68,63}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{321,292},{68,63}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,68},{72,63}}</string>
				<key>offset</key>
				<string>{6,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{393,68},{72,63}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,142},{72,65}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{406,142},{72,65}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,273},{72,65}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,273},{72,65}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,292},{72,65}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{247,292},{72,65}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,225},{72,65}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{337,225},{72,65}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,277},{84,65}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,277},{84,65}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,208},{84,65}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,208},{84,65}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,139},{84,65}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,139},{84,65}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,70},{84,65}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{259,70},{84,65}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,1},{84,65}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{343,1},{84,65}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,1},{84,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,1},{84,67}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,139},{84,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,139},{84,67}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,70},{84,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,70},{84,67}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,1},{84,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,1},{84,67}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,208},{84,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,208},{84,67}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,139},{84,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,139},{84,67}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,70},{84,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,70},{84,67}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,344},{82,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,344},{82,67}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,206},{82,65}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,206},{82,65}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,413},{80,65}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,413},{80,65}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,225},{78,65}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{257,225},{78,65}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,413},{78,65}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{68,413},{78,65}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,70},{76,65}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{326,70},{76,65}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,148},{74,65}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{339,148},{74,65}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,216},{68,63}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{411,216},{68,63}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,292},{66,63}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{386,292},{66,63}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,342},{66,63}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{129,342},{66,63}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,410},{66,61}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{135,410},{66,61}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,1},{64,61}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{429,1},{64,61}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,359},{62,61}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{247,359},{62,61}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,362},{62,59}}</string>
				<key>offset</key>
				<string>{-6,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{311,362},{62,59}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,422},{60,59}}</string>
				<key>offset</key>
				<string>{-6,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{247,422},{60,59}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,423},{60,57}}</string>
				<key>offset</key>
				<string>{-7,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{309,423},{60,57}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,424},{58,57}}</string>
				<key>offset</key>
				<string>{-6,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{371,424},{58,57}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,422},{58,55}}</string>
				<key>offset</key>
				<string>{-4,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{431,422},{58,55}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,362},{60,53}}</string>
				<key>offset</key>
				<string>{-4,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{375,362},{60,53}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,360},{60,53}}</string>
				<key>offset</key>
				<string>{-3,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{430,360},{60,53}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,340},{62,51}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{194,340},{62,51}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,362},{42,49}}</string>
				<key>offset</key>
				<string>{9,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{85,362},{42,49}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,404},{44,47}}</string>
				<key>offset</key>
				<string>{10,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{198,404},{44,47}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,64},{36,31}}</string>
				<key>offset</key>
				<string>{15,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{458,64},{36,31}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,142},{4,5}}</string>
				<key>offset</key>
				<string>{-1,11}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{393,142},{4,5}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
			<key>wh_vfx_02_add_1x_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,216},{4,3}}</string>
				<key>offset</key>
				<string>{-1,9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{406,216},{4,3}}</string>
				<key>sourceSize</key>
				<string>{88,73}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>6a19fd0c-6c38-4c65-ae5b-8793e04bec01.d0ec7.jpg</string>
			<key>size</key>
			<string>{494,494}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>6a19fd0c-6c38-4c65-ae5b-8793e04bec01.d0ec7.jpg</string>
		</dict>
	</dict>
</plist>
