<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>env_glow_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,154},{191,151}}</string>
				<key>offset</key>
				<string>{3,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{608,154},{191,151}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,307},{191,151}}</string>
				<key>offset</key>
				<string>{3,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{409,307},{191,151}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,307},{191,151}}</string>
				<key>offset</key>
				<string>{3,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{602,307},{191,151}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,778},{193,151}}</string>
				<key>offset</key>
				<string>{3,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,778},{193,151}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,468},{193,151}}</string>
				<key>offset</key>
				<string>{3,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{202,468},{193,151}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,778},{193,151}}</string>
				<key>offset</key>
				<string>{3,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{196,778},{193,151}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,154},{193,151}}</string>
				<key>offset</key>
				<string>{3,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{413,154},{193,151}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,1},{195,151}}</string>
				<key>offset</key>
				<string>{2,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{616,1},{195,151}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,1},{195,151}}</string>
				<key>offset</key>
				<string>{2,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{813,1},{195,151}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,468},{199,151}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,468},{199,151}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,158},{201,151}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,158},{201,151}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,1},{201,151}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{413,1},{201,151}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,315},{203,151}}</string>
				<key>offset</key>
				<string>{-1,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,315},{203,151}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,158},{203,155}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,158},{203,155}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{205,155}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{205,155}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,1},{203,155}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{208,1},{203,155}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,311},{195,155}}</string>
				<key>offset</key>
				<string>{3,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,311},{195,155}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,621},{191,155}}</string>
				<key>offset</key>
				<string>{5,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,621},{191,155}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,198},{181,155}}</string>
				<key>offset</key>
				<string>{7,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{801,198},{181,155}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,381},{187,155}}</string>
				<key>offset</key>
				<string>{4,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{795,381},{187,155}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,570},{187,155}}</string>
				<key>offset</key>
				<string>{4,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{787,570},{187,155}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,774},{187,155}}</string>
				<key>offset</key>
				<string>{4,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{391,774},{187,155}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,460},{189,155}}</string>
				<key>offset</key>
				<string>{4,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{596,460},{189,155}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,617},{189,155}}</string>
				<key>offset</key>
				<string>{4,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{590,617},{189,155}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,621},{191,155}}</string>
				<key>offset</key>
				<string>{3,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{194,621},{191,155}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,460},{191,155}}</string>
				<key>offset</key>
				<string>{3,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{403,460},{191,155}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,617},{191,153}}</string>
				<key>offset</key>
				<string>{3,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{397,617},{191,153}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,774},{191,151}}</string>
				<key>offset</key>
				<string>{3,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{580,774},{191,151}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
			<key>env_glow_add_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,774},{191,151}}</string>
				<key>offset</key>
				<string>{3,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{773,774},{191,151}}</string>
				<key>sourceSize</key>
				<string>{213,167}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>0a417696-674c-49c8-8a8b-a386ad68d79f.cd71b.jpg</string>
			<key>size</key>
			<string>{965,930}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>0a417696-674c-49c8-8a8b-a386ad68d79f.cd71b.jpg</string>
		</dict>
	</dict>
</plist>
