<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>scatter_vfx_c_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,645},{123,123}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{878,645},{123,123}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,645},{127,129}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{747,645},{127,129}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,600},{141,139}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{606,600},{141,139}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,504},{145,139}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{841,504},{145,139}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,357},{155,145}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{845,357},{155,145}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,184},{171,151}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{845,184},{171,151}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1},{181,165}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{843,1},{181,165}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,600},{191,173}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{413,600},{191,173}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,598},{197,181}}</string>
				<key>offset</key>
				<string>{-2,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{214,598},{197,181}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,409},{201,187}}</string>
				<key>offset</key>
				<string>{-2,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{216,409},{201,187}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,206},{205,193}}</string>
				<key>offset</key>
				<string>{-3,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{638,206},{205,193}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,208},{207,195}}</string>
				<key>offset</key>
				<string>{-4,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{429,208},{207,195}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,208},{211,199}}</string>
				<key>offset</key>
				<string>{-5,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{216,208},{211,199}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,413},{211,201}}</string>
				<key>offset</key>
				<string>{-6,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,413},{211,201}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,208},{213,203}}</string>
				<key>offset</key>
				<string>{-6,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,208},{213,203}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{213,205}}</string>
				<key>offset</key>
				<string>{-6,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{213,205}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,1},{211,205}}</string>
				<key>offset</key>
				<string>{-7,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{216,1},{211,205}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,1},{205,205}}</string>
				<key>offset</key>
				<string>{-10,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{429,1},{205,205}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,1},{205,203}}</string>
				<key>offset</key>
				<string>{-10,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{636,1},{205,203}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,405},{193,201}}</string>
				<key>offset</key>
				<string>{-5,12}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{429,405},{193,201}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,401},{193,201}}</string>
				<key>offset</key>
				<string>{-5,12}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{638,401},{193,201}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,616},{159,201}}</string>
				<key>offset</key>
				<string>{-21,12}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,616},{159,201}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,616},{3,3}}</string>
				<key>offset</key>
				<string>{-111,111}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{204,616},{3,3}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,616},{3,3}}</string>
				<key>offset</key>
				<string>{-111,111}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{204,616},{3,3}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
			<key>scatter_vfx_c_add_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,616},{3,3}}</string>
				<key>offset</key>
				<string>{-111,111}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{204,616},{3,3}}</string>
				<key>sourceSize</key>
				<string>{225,225}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>cd9fe3d4-3710-4f06-ac15-18b39ef26bb1.6aff9.jpg</string>
			<key>size</key>
			<string>{1009,780}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>cd9fe3d4-3710-4f06-ac15-18b39ef26bb1.6aff9.jpg</string>
		</dict>
	</dict>
</plist>
