<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shuffle_vfx_a_normal_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{75,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{75,249}}</string>
				<key>sourceSize</key>
				<string>{75,249}</string>
			</dict>
			<key>shuffle_vfx_a_normal_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,252},{75,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,252},{75,249}}</string>
				<key>sourceSize</key>
				<string>{75,249}</string>
			</dict>
			<key>shuffle_vfx_a_normal_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,1},{75,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{78,1},{75,249}}</string>
				<key>sourceSize</key>
				<string>{75,249}</string>
			</dict>
			<key>shuffle_vfx_a_normal_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,252},{75,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{78,252},{75,249}}</string>
				<key>sourceSize</key>
				<string>{75,249}</string>
			</dict>
			<key>shuffle_vfx_a_normal_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,1},{75,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,1},{75,249}}</string>
				<key>sourceSize</key>
				<string>{75,249}</string>
			</dict>
			<key>shuffle_vfx_a_normal_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,252},{75,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,252},{75,249}}</string>
				<key>sourceSize</key>
				<string>{75,249}</string>
			</dict>
			<key>shuffle_vfx_a_normal_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1},{75,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{232,1},{75,249}}</string>
				<key>sourceSize</key>
				<string>{75,249}</string>
			</dict>
			<key>shuffle_vfx_a_normal_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,252},{75,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{232,252},{75,249}}</string>
				<key>sourceSize</key>
				<string>{75,249}</string>
			</dict>
			<key>shuffle_vfx_a_normal_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,1},{75,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{309,1},{75,249}}</string>
				<key>sourceSize</key>
				<string>{75,249}</string>
			</dict>
			<key>shuffle_vfx_a_normal_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,252},{75,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{309,252},{75,249}}</string>
				<key>sourceSize</key>
				<string>{75,249}</string>
			</dict>
			<key>shuffle_vfx_a_normal_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,1},{75,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{386,1},{75,249}}</string>
				<key>sourceSize</key>
				<string>{75,249}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>60205d93-973c-4fcb-8211-42d9977dbcb0.a6613.png</string>
			<key>size</key>
			<string>{502,502}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>60205d93-973c-4fcb-8211-42d9977dbcb0.a6613.png</string>
		</dict>
	</dict>
</plist>
